@tailwind base;
@tailwind components;

body {
	/* overscroll-behavior-y: none; */
	height: 100%;
	min-height: 100%;
}
.top-2 { top:0.5rem }
.rounded-xl { border-radius: 0.625rem; }
.font-overlock { font-family: 'Overlock', sans-serif; }
.desaturate-75 { filter: saturate(0.75); }
.bg-gray-50 { 
	--bg-opacity: 1;
	background-color: #FAFCFD;
	background-color: rgb(250, 252, 253, var(--bg-opacity));
}
.bg-blur {
	-webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.bg-waves {
	background-image: linear-gradient(#f7fafc20, #f8fbfd66 70%,#ffffff), url("../waves.svg");
}
.grid-stack > * {
	grid-area: 1/1;
	margin: auto;
}
.clamp {
    --lines: 2;
    display: -webkit-box;
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.pb-safe-area {
	padding-bottom: env(safe-area-inset-bottom, 0);
}
button[class*="active:"] {
	-webkit-tap-highlight-color: transparent;
}
@tailwind utilities;